<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="dashboard.css" />
    <link
      rel="stylesheet"
      href="./assets//fontawesome-free-6.5.2-web/css/all.min.css"
    />
  </head>
  <body>
    <div class="dashboard_container">
      <div class="sidebar_container">
        <div>
          <h3>Admin</h3>

          <button>
            <i class="fas fa-user-circle" style="font-size: 145px"></i>
          </button>

          <p>Emmanuel</p>
        </div>
      </div>

      <div class="right_container">
        <div class="right_container_header">
          <section>
            <img src="./assets/OneGrid_Energies_Logo_White-removebg.png" alt="" />
            <h3>Meter Report</h3>
          </section>

          <div>Select meter</div>
        </div>

        <div class="right_container_body">
          <div class="progressbar_container">
            <div>
              <h3>Energy Consumption</h3>
              <h5>total energy : kwh</h5>
            </div>
            
            <h2>27.12kwh</h2>

          </div>

          <div class="progressbar_container">
            <div>
              <h3>Price</h3>
              <h5>total price : ₦</h5>
            </div>
            
            <h2 style="font-family: fantasy; font-size: 50px;" >₦1,110, 348.00</h2>

          </div>

          <div class="progressbar_container">
            <div>
              <h3>Load</h3>
              <h5>total load : kw</h5>
            </div>

            <section class="progressbar_card">
              <div class="progressbar">
                <span>70%</span>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
