<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
  </head>
  <body>
    <!-- ====== for the login page container ========= -->
    <div class="Login_container">
      <div class="login_header">
        <img src="./assets/OneGrid_Energies_Logo_White-removebg.png" alt="">
        Meter Report</div>

      <div class="loginform_container">
        <span> Log In Form </span>

        <div class="loginform_card">
          <p>
            Email or Username :
            <input name="Email" type="email" placeholder="Email or Username" />
          </p>

          <p>
            Password :
            <input name="Password" type="password" placeholder="Password" />
          </p>

          <button class="login_button">Log In</button>
        </div>
      </div>
    </div>
  </body>
</html>
