<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- ====== for the login page container ========= -->
    <div class="Login_container">
        <div class="login_header">
            OneGrid Energies Report
        </div>

        <div class="loginform_container">
            <span>
                Log In Form
            </span>

            <div class="loginform_card">
                <p>
                    Email or Username :
                    <input type="email" name="Email" placeholder="Email or Username">
                </p>
            </div>
        </div>
    </div>
</body>
</html>